// MAIN
a {
  text-decoration: none;
  color: black;
}

html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: 'Arimo', sans-serif;
  color: #3f3f3f;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.my-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url(./img/PNG/table_felt.png);
  background-size: cover;
}

// ALERT
.my-alert {
  width: 100vw;
  height: 45px;
  min-height: 45px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-alert-danger {
  background-color: red;
}
.my-alert-success {
  background-color: green;
}

.my-alert-button {
  border: 1px solid rgb(175, 175, 175);
  padding: 7px;
  cursor: pointer;
  margin-top: 30vh;
  border-radius: 5px;
}

// Greeting
.popups-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.greeting {
  height: 350px;
  width: 500px;
  max-width: 100vw;
  background-color: #d9d9d9;
}
// Table styles
// Header
.header {
  height: 150px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
// Playing table
.table {
  flex-grow: 1;
  flex-basis: 500px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
}

.table-left,
.table-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.table-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card {
  height: 200px;
  width: 130px;
  min-width: 130px;
  border-radius: 5px;
  background-size: 101%;
}
// Player hand
.hand {
  height: 250px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 120px 0 15px;
}

.hand .card {
  cursor: pointer;
  background-color: white;
  position: relative;
  margin-right: -100px;
}
